@font-face {
  font-family: "game-font";
  src: url(../fonts/Retro\ Gaming.ttf);
}

.game-wrapper {
  text-align: center;
  .title {
    font-family: "game-font";

    h1 {
    }
    button {
      box-shadow: 1px 1px 2px 3px;
      font-family: "game-font";
    }
    .score {
      margin-top: 15px;
    }
  }
  .squares-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    margin: 15px auto;
    div {
      width: 20px;
      height: 20px;
      outline: 1px solid black;
    }
    .snake {
      background-image: url("../images/snake.png");
      background-size: cover;
    }
    .apple {
      background-color: green;
    }
  }
}
